body{
	text-align: center;
}

.top_container{
	background-color: #27496d;
	padding: 10px;
	}

h1{
	font-family: 'Sacramento', cursive;
	font-size: 8em;
	color: #50bda1;
    padding-top: 10px;

}

.main_sub-heading{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.5rem;
	color: #50bda1;
	padding-top: 20px;
	padding-bottom: 30px;
  
}

#hi{
	padding-top: 30px;
}

.sub_heading{
	 color: #50bda1;
	 font-size: 2em;

}

hr{
	border: dotted black 6px;
	border-bottom: none;
	width: 4%;
}

div{
	margin-bottom: 0px; 
}

i{
	margin-right: 2.5px;
	margin-bottom: 0px;
}



img{
	width: 35%;
}

.p-desp{
	color: black;
	padding-top: 10px;
	font-family: 'Tenali Ramakrishna', sans-serif;
	font-size:25px;
 }

.middle_container{
		color: #50bda1;
		padding-top: 100px;
		padding-bottom: 100px;

}

.middle_content{
	width: 50%;
	margin: 0 auto 0 auto;

}

.hey{
	width: 10em;
}

.p-middle{
		color: black;
		padding-top: 10px;
		font-family: 'Tenali Ramakrishna', sans-serif;
		font-size: 30px;
}

.bottom_container{
	background-color: #212529;
	padding: 10px;
}

.fab{
	padding-left: 30px;
	padding-bottom: 10px;
}


/* Skills */
.skill-row{
	width: 50%;
	margin: auto;
	text-align: center;
	line-height: 1.3;
	padding: 5px;
	
}

table{
	width: 100%;
}

td{
	text-align: left;
}

.table-sub_heading{
	text-align: center;
	padding: 0rem;
}

.colume_one{
	width: 100px;
	text-align: center;
}

.skill-year{
	text-align: right;
}

.skills-img{
	width:  130px;
}


/* Project */
 .project-row{
	width: 80%;
	margin: 30px auto;
	line-height: 1.3;
	padding: 5px;
	
 } 

 /* footer */
 #footer {
	position: static;
	bottom:0;
	width: 100%;
 }

 .copyright{
	color: white;
	font-size: .8125rem;
	padding-bottom: 0px;

}

 @media (max-width: 800px){
	h1{
		font-size: 3.5em;
   }

   .main_sub-heading{
	   font-size: 1em;
   }

   .hey{
	   font-size: .5em;
   }

   .sub_heading{
	font-size: 1em;}

	hr{
		size: 1.6px;
	}

	.sub_sub_heading{
		font-size: .9em
	}

	.table-sub_heading{
		padding-top: 0rem;
	}

	.skills-img{
		width:  80px;
	}

	.skill-year{
		font-size: .7em;
	
	}

	.p-desp{
		font-size: 15px;
	}
	}

	.under_man{
		width: 100%;
	}