body{
	text-align: center;
}

.top_container{
	background-color: #27496d;
	padding: 10px;
}

h1{
	font-family: 'Sacramento', cursive;
	font-size:calc(3rem + 6vw);
	color: #50bda1;
    padding-top: 30px;

}

h2{
	 padding-top: 30px;

}

h3{
	color: #50bda1;

}

hr{
	border: dotted black 6px;
	border-bottom: none;
	width: 4%;
}

div{
	margin-bottom: 0px; 
}

i{
	margin-right: 2.5px;
	margin-bottom: 0px;
}

.p-heading{
	font-family: 'Gloria Hallelujah', cursive;
	font-size:calc(.5rem + 1.5vw);
	color: #50bda1;
	padding-top: 20px;
	padding-bottom: 30px;
  
}

img{
	width: 30%;
}

.middle_container{
		color: #50bda1;
		padding-top: 100px;
		padding-bottom: 100px;

}

.middle_content{
	width: 50%;
	margin: 0 auto 0 auto;

}

.hey{
	width: calc(9rem + 1vw);
}

.p-middle{
		color: black;
		padding-top: 10px;
		font-family: 'Tenali Ramakrishna', sans-serif;
		font-size:calc(1rem + 1.5vw);
}

.bottom_container{
	background-color: #212529;
	padding: 10px;
}

.fab{
	padding-left: 30px;
	padding-bottom: 10px;
}

.copyright{
	color: white;
	font-size: .8125rem;
	padding-bottom: 0px;

}

.skill-row{
	width: 50%;
	margin: auto;
	text-align: left;
	line-height: 2;
	padding: 40px;
	
}

.skills-desc{
	width: 22%;
	float: left;
	margin-right: 30px;
}

#footer {
	position: static;;
	bottom:0;
	width: 100%;
 }

 .project-row{
	width: 50%;
	margin: auto;
	line-height: 2;
	padding: 40px;
	
 }

 .projects-desp{
	color: black;
	padding-top: 10px;
	font-family: 'Tenali Ramakrishna', sans-serif;
	font-size:calc(.5rem + 1vw);
 }

 @media (max-width: 800px){
	h1, p {
		font-size:calc(2.5rem + 4vw);
   }
   .p-heading{
	   font-size: calc(.25rem + 1vw);
   }
   .p-middle, .projects-desp, h3{
	font-size: calc(.5rem + 1.5vw);
	}
	.hey{
		width: calc(6.5rem + 1vw);
	}
	.projects-desp, .skill-year{
		font-size:calc(.3rem + 1vw);
	 }
	 .h6{
		font-size:calc(.5rem + 1vw);
	 }
	 }