body{
	text-align: center;
}

.top_container{
	background-color: #27496d;
	padding: 10px;
}

h1{
	font-family: 'Sacramento', cursive;
	font-size: 8em;
	color: #50bda1;
    padding-top: 30px;

}

h2{
	 padding-top: 30px;

}

h3{
	color: #50bda1;

}

hr{
	border: dotted black 6px;
	border-bottom: none;
	width: 4%;
}

div{
	margin-bottom: 0px; 
}

i{
	margin-right: 2.5px;
	margin-bottom: 0px;
}

.p-heading{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.5rem;
	color: #50bda1;
	padding-top: 20px;
	padding-bottom: 30px;
  
}

img{
	width: 400px;
}

.middle_container{
		color: #50bda1;
		padding-top: 100px;
		padding-bottom: 100px;

}

.middle_content{
	width: 50%;
	margin: 0 auto 0 auto;

}

.hey{
	width: 150px;
}

.p-middle{
		color: black;
		padding-top: 10px;
		font-family: 'Tenali Ramakrishna', sans-serif;
		font-size: 30px;



}

.bottom_container{
	background-color: #212529;
	padding: 10px;
}

.fab{
	padding-left: 30px;
	padding-bottom: 10px;
}

.copyright{
	color: white;
	font-size: 13px;
	padding-bottom: 0px;

}

.skill-row{
	width: 50%;
	margin: auto;
	text-align: left;
	line-height: 2;
	padding: 40px;
	
}

.skills-desc{
	width: 22%;
	float: left;
	margin-right: 30px;
}